## Problem statement: Develop a model that wil predict airline delays for Tunisian aviation company.

In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Loading the data sets

In [91]:
df = pd.read_csv("Train.csv")
df_test = pd.read_csv("Test.csv")

In [92]:
df.head()

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107833 entries, 0 to 107832
Data columns (total 10 columns):
ID        107833 non-null object
DATOP     107833 non-null object
FLTID     107833 non-null object
DEPSTN    107833 non-null object
ARRSTN    107833 non-null object
STD       107833 non-null object
STA       107833 non-null object
STATUS    107833 non-null object
AC        107833 non-null object
target    107833 non-null float64
dtypes: float64(1), object(9)
memory usage: 8.2+ MB

In [94]:
df["FLTID"].nunique()

1861

In [95]:
df["DEPSTN"].nunique()

132

In [96]:
df["ARRSTN"].nunique()

128

In [97]:
df["STATUS"].nunique()

5

In [98]:
df["STATUS"].unique()

array(['ATA', 'DEP', 'RTR', 'SCH', 'DEL'], dtype=object)

In [99]:
df["AC"].nunique()

68

In [100]:
df["STD"].nunique()

81697

In [101]:
df[['STD-date','STD-time']] = df.STD.str.split(expand=True)
df.drop(columns="STD", inplace=True)
df[['STA-date','STA-time']] = df.STA.str.split(expand=True)
df.drop(columns="STA", inplace=True)

In [102]:
df.head()

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STATUS,AC,target,STD-date,STD-time,STA-date,STA-time
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,ATA,TU 32AIMN,260.0,2016-01-03,10:30:00,2016-01-03,12.55.00
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,ATA,TU 31BIMO,20.0,2016-01-13,15:05:00,2016-01-13,16.55.00
2,train_id_2,2016-01-16,TU 0214,TUN,IST,ATA,TU 32AIMN,0.0,2016-01-16,04:10:00,2016-01-16,06.45.00
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,ATA,TU 736IOK,0.0,2016-01-17,14:10:00,2016-01-17,17.00.00
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,ATA,TU 320IMU,22.0,2016-01-17,14:30:00,2016-01-17,15.50.00

In [103]:
df["DATOP"].tail()

107828    2018-07-05
107829    2018-01-13
107830    2018-11-07
107831    2018-01-23
107832    2018-11-13
Name: DATOP, dtype: object

In [104]:
df["STD-date"].tail()

107828    2018-07-05
107829    2018-01-13
107830    2018-11-07
107831    2018-01-23
107832    2018-11-13
Name: STD-date, dtype: object

In [105]:
if df["STD-date"].all() == df["DATOP"].all() == df["STA-date"].all():
    print ("They are exactly the same")

They are exactly the same

In [106]:
df.drop(columns=["STD-date","STA-date"], inplace=True)

In [107]:
df.head()

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STATUS,AC,target,STD-time,STA-time
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,ATA,TU 32AIMN,260.0,10:30:00,12.55.00
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,ATA,TU 31BIMO,20.0,15:05:00,16.55.00
2,train_id_2,2016-01-16,TU 0214,TUN,IST,ATA,TU 32AIMN,0.0,04:10:00,06.45.00
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,ATA,TU 736IOK,0.0,14:10:00,17.00.00
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,ATA,TU 320IMU,22.0,14:30:00,15.50.00